@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 44);
}

p{
    margin-bottom: auto;
    margin-top: auto;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 44);
    margin-top: 10px;
}

h3{
    font-weight: bold;
    cursor: pointer;
}

ul{
    display: flex;
}

li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding-right: 10px;
}

label{
    color: white;
    margin-top: 10px;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 'nav'
                         'main';
    height: 100%;
    background-color: rgb(67, 78, 121);
}

nav{
    background-color: rgb(255, 136, 0);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

main{
    grid-area: main;
    display: flex;
    text-align: center;
}

.Dogs{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

#DogCard{
    margin: auto;
    margin: 10px;
}

#DogCard > .card-body > p{
    text-align: left;
}

.DogForm{
    width: 300px;
    margin: 0 auto;
    display: none;
    margin-top: 30px;
}

#AboutUs{
    align-items: center;
    display: none;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card{
    margin-top: 10px;
}

.card-img-top{
    width: 150px;
}

.form-control{
    text-indent: 1.5;
}


